.env*
node_modules/*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
terraform/terraform.tfvars
