.env*
node_modules/*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
# Playwright authenticated storage
playwright/.auth/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
terraform/terraform.tfvars
terraform/terraform.prod.tfvars
