<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ getName .TestPtr "en" }}</title>
{{ template "pdf_mathjax_head" . }}
</head>
<body class="font-sans text-[14px] m-5 mt-0">
    {{ template "pdf_test_header" . }}

    <!-- Table for Answer Sheet -->
    <table class="table-auto w-full border border-gray-300 text-center text-sm">
        <thead class="bg-gray-100">
            <tr>
                <th class="answer-pdf-table-row">Q No.</th>
                <th class="answer-pdf-table-row">Answer</th>
                <th class="answer-pdf-table-row">Difficulty Level</th>
                <th class="answer-pdf-table-row">Chapter Name</th>
            </tr>
        </thead>
        <tbody>
            {{ $Counter := 0 }}
            {{ range $subject := .TestPtr.TypeParams.Subjects }}
                {{ range $section := $subject.Sections }}
                    <!-- Compulsory Problems -->
                    {{ range $prob := $section.Compulsory.Problems }}
                        {{ $p := index $.ProblemsMap $prob.ID }}
                        {{ $Counter = add $Counter 1 }}
                        <tr>
                            <td class="answer-pdf-table-row">{{ $Counter }}.</td>
                            <td class="answer-pdf-table-row">
                                {{ template "pdf_answer_value" (dict "Subtype" $p.Subtype "Answers" $p.MetaData.Answers) }}
                            </td>
                            <td class="answer-pdf-table-row">{{ capitalize $p.DifficultyLevel }}</td>
                            <td class="answer-pdf-table-row">{{ getChapterName $p "en" }}</td>
                        </tr>
                    {{ end }}
                {{ end }}
            {{ end }}
        </tbody>
    </table>

    <!-- Solutions Section -->
    <div class="mt-6">
        <h2 class="text-lg font-bold mb-2">Solutions:</h2>
        {{ $Counter := 0 }}
        {{ range $subject := .TestPtr.TypeParams.Subjects }}
            {{ range $section := $subject.Sections }}
                <!-- Compulsory Problems -->
                {{ range $prob := $section.Compulsory.Problems }}
                    {{ $p := index $.ProblemsMap $prob.ID }}
                    {{ $Counter = add $Counter 1 }}
                    {{ if and (gt (len $p.MetaData.Solutions) 0) (ne (trim (printf "%s" (index $p.MetaData.Solutions 0).Value)) "") }}
                        <div class="mb-4 flex">
                            <span class="font-semibold">Q{{ $Counter }}.</span>
                            <div class="ml-5 flex-1 solution-content">{{ (index $p.MetaData.Solutions 0).Value }}</div>
                        </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
</body>
</html>
