<div class="container">
    <div class="shadow-md my-6 overflow-x-auto">
        <table class="min-w-full bg-white">
            <thead>
                <tr class="bg-gray-200 text-gray-600 text-sm">
                    <th class="py-3 px-6">
                        <a href="#" hx-get="/chapters?sortColumn=1" hx-target="#content">
                            Code <i class="fas 
                            {{ if eq .Column "1" }}
                                {{ if eq .Order "asc" }} fa-sort-up
                                {{ else if eq .Order "desc" }} fa-sort-down
                                {{ else }} fa-sort {{ end }}
                            {{ else }} fa-sort {{ end }}"></i>
                        </a>
                    </th>
                    <th class="px-6">
                        <a href="#" hx-get="/chapters?sortColumn=2" hx-target="#content">
                            Name <i class="fas 
                            {{ if eq .Column "2" }}
                                {{ if eq .Order "asc" }} fa-sort-up
                                {{ else if eq .Order "desc" }} fa-sort-down
                                {{ else }} fa-sort {{ end }}
                            {{ else }} fa-sort {{ end }}"></i>
                        </a>
                    </th>
                    <th class="px-6 text-center">
                        <a href="#" hx-get="/chapters?sortColumn=3" hx-target="#content">
                            Topics <i class="fas
                            {{ if eq .Column "3" }}
                                {{ if eq .Order "asc" }} fa-sort-up
                                {{ else if eq .Order "desc" }} fa-sort-down
                                {{ else }} fa-sort {{ end }}
                            {{ else }} fa-sort {{ end }}"></i>
                        </a>
                    </th>
                    <th class="px-6 text-center">Chapter Tests</th>
                    <th class="px-6 text-center">PSV</th>
                    <th class="px-6 text-center">MOD</th>
                    <th class="px-6 text-center">CV</th>
                    <th class="px-6 text-center">CT</th>
                    <th class="px-6 text-center">Status</th>
                    <th class="px-6 text-center">Actions</th>
                </tr>
            </thead>
            <tbody id="chapterTableBody" class="text-gray-600 text-sm" hx-get="/api/chapters" hx-trigger="
                load[!document.getElementById('curriculum-dropdown').options[0].disabled], 
                onLoaded from:(#curriculum-dropdown, #grade-dropdown, #subject-dropdown), 
                change from:(#curriculum-dropdown, #grade-dropdown, #subject-dropdown)"
                hx-include="#curriculum-dropdown, #grade-dropdown, #subject-dropdown">
                <!-- Rows will be dynamically inserted here -->
            </tbody>
        </table>
    </div>

    <!-- Form to add new chapter -->
    <div class="mt-4">
        <h4 id="addChapterLink" class="text-sm font-semibold text-blue-500 hover:underline" onclick="toggleForm(event)">
            <a href="#">Add New Chapter</a>
        </h4>
    </div>

    <script>
        // This script will handle toggling of the form visibility
        function toggleForm(event) {
            // Prevent the default anchor click behavior, which otherwise scrolls to top
            event.preventDefault();

            var form = document.getElementById("addChapterForm");

            // If the form is already visible, remove it
            if (form != null) {
                form.remove()

            } else {
                // Otherwise, use HTMX to load the form
                htmx.ajax('GET', '/add-chapter', {
                    target: '#addChapterLink',
                    swap: 'afterend'
                })
            }
        }
    </script>
</div>