{{ range . }}
<tr class="border-b hover:bg-gray-100">
    <td class="py-4 px-6">{{.Code}}</td>
    <td class="px-6 text-blue-500 hover:underline"><a href="/chapter?id={{.ID}}" hx-get="/chapter?id={{.ID}}" 
        hx-target="body" hx-push-url="true">{{ getName . "en" }}</a></td>
    <td class="px-6 text-center text-blue-500 hover:underline"><a href="#">{{.TopicCount}}</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space-x-4">
        <!-- target is kept body instead of #content, because using #content as target will not work when
         directly edit url is entered in browser -->
        <button class="action-button" hx-get="/edit-chapter?id={{.ID}}"
            hx-target="body" hx-push-url="true">
            <i class="fa-solid fa-pencil"></i>
        </button>
        <button class="action-button" hx-delete="/delete-chapter?id={{.ID}}"
            hx-confirm="Are you sure you want to delete chapter {{ getName . "en" }}?" hx-target="closest tr">
            <i class="fa-solid fa-trash"></i>
        </button>
    </td>
</tr>
{{ end }}