{{ define "dest_subtype_row" }}
<tr id="subtype-{{.SubjectId}}-{{.Subtype}}" class="bg-bg-card-alt">
    <td class="p-2 whitespace-nowrap" colspan="4">
        <!-- Editable field -->
        <input type="text" name="section-name" value="{{.DisplaySubtype}}"
            class="border rounded-sm px-2 py-1 w-full bg-bg-card" maxlength="100"
            onchange="saveSectionName('{{.SubjectId}}','{{.Subtype}}', this.value)"/>
    </td>
    {{ template "chip_box_cells" . }}
    <td></td>
    <td class="p-2 align-middle whitespace-nowrap">
        <button class="action-button" type="button" title="Shuffle questions" onclick="shuffleSubtype(this)">
            <i class="fa-solid fa-shuffle"></i>
        </button>
    </td>
</tr>
{{ end }}