{{ define "dest_problem_row" }}
<tr id="problem-{{.ID}}" data-subject="subject-{{.Subject.ID}}" data-subtype="subtype-{{.Subtype}}"
    data-skill-ids="{{joinInt16 .SkillIDs ","}}" data-mathjax="true">
    <td class="p-2"></td>
    <td class="p-2 text-blue-500 hover:underline"><a href="#" hx-get="/problem?id={{.ID}}" hx-target="body"
            hx-push-url="/problem?id={{.ID}}">{{ .Code }}</a></td>
    <td class="p-2 text-center">{{.DisplayDifficulty}}</td>
    <td class="p-2">{{ .MetaData.Question }}</td>
    <!-- if we pass . instead of empty dictionary, then it will throw error - "can't evaluate field PosMarks 
     in type *models.Problem" -->
    {{ template "chip_box_cells" (dict) }}
    <td class="p-2 text-center">
        <button class="px-2 py-1 bg-red-500 text-white rounded" data-difficulty="{{.DifficultyLevel}}"
            hx-on:click="removeQuestionFromTest(this)">X</button>
    </td>
</tr>
{{ end }}