{{ define "dest_subtype_row" }}
<tr id="subtype-{{.SubjectId}}-{{.Subtype}}" class="bg-gray-100">
    <td class="p-2 whitespace-nowrap" colspan="4">
        <span>{{.DisplaySubtype}}</span>
    </td>
    {{ template "chip_box_cells" . }}
    <td></td>
    <td class="p-2 align-middle whitespace-nowrap">
        <button class="action-button" type="button" title="Shuffle questions" onclick="shuffleSubtype(this)">
            <i class="fa-solid fa-shuffle"></i>
        </button>
    </td>
</tr>
{{ end }}