{{ define "dest_problem_row" }}
{{with .Problem}}
<tr id="problem-{{.ID}}" data-subject="subject-{{(getParentId .Subject)}}" data-subtype="subtype-{{.Subtype}}"
    data-skill-ids="{{joinInt16 .SkillIDs ","}}" data-mathjax="true">
    <td class="p-2">{{if $.SrNo}}{{$.SrNo}}{{end}}</td>
    <td class="p-2 text-blue-500 hover:underline"><a href="/problem?id={{.ID}}&curriculum_id={{.CurriculumID}}" 
        hx-get="/problem?id={{.ID}}&curriculum_id={{.CurriculumID}}" hx-target="body" hx-push-url="true">
        {{ .Code }}</a></td>
    <td class="p-2 text-center">{{.DisplayDifficulty}}</td>
    <td class="p-2">{{ .MetaData.Question }}</td>
    <!-- if we pass . instead of empty dictionary, then it will throw error - "can't evaluate field PosMarks 
     in type *models.Problem" -->
    {{ template "chip_box_cells" (dict "PosMarks" $.PosMarks "NegMarks" $.NegMarks "ReadOnlyMarks" $.ReadOnlyMarks) }}
	<td class="p-2">
        <select class="border border-gray-300 rounded px-2 py-1 text-sm bg-white" name="options-layout">
            <option value="2x2"
                {{if or
                    (and $.OptionLayout (eq $.OptionLayout.Rows 2) (eq $.OptionLayout.Cols 2))
                    (not $.OptionLayout)
                }}selected{{end}}>
                2x2
            </option>

            <option value="1x4"
                {{if and $.OptionLayout (eq $.OptionLayout.Rows 1) (eq $.OptionLayout.Cols 4)}}selected{{end}}>
                1x4
            </option>

            <option value="4x1"
                {{if and $.OptionLayout (eq $.OptionLayout.Rows 4) (eq $.OptionLayout.Cols 1)}}selected{{end}}>
                4x1
            </option>
        </select>
    </td>    
    <td class="p-2">
		<div class="action-cell-flex flex items-center justify-between w-full whitespace-nowrap">
			<button class="px-2 bg-red-500 text-white rounded" data-difficulty="{{.DifficultyLevel}}"
				hx-on:click="removeQuestionFromTest(this)">X</button>
			<span class="validation-error-slot inline-flex items-center justify-center w-4">
				<i class="validation-error-icon fa-solid fa-circle-exclamation text-red-500 invisible"></i>
			</span>
		</div>
	</td>
</tr>
{{end}}
{{ end }}