{{ define "dest_subject_row" }}
<tr id="subject-{{.SubjectId}}" class="bg-white">
    <td class="p-2 font-medium capitalize" colspan="4">{{.SubjectName}}</td>
    {{ template "chip_box_cells" . }}
    <td></td>
    <td class="p-2 align-middle whitespace-nowrap text-center">
        {{ if .CanSaveSingleSubject }}
        <button type="button" title="Save subject" class="action-button" 
            onclick="saveSubject(this, '{{.TestId}}')">
            <i class="fa-solid fa-floppy-disk fa-lg"></i>
        </button>
        {{ end }}
        <button class="action-button ml-2 move-up" type="button" title="Move up" onclick="moveSubjectUp(this)">
            <i class="fa-solid fa-arrow-up"></i>
        </button>
        <button class="action-button ml-2 move-down" type="button" title="Move down" onclick="moveSubjectDown(this)">
            <i class="fa-solid fa-arrow-down"></i>
        </button>
    </td>
</tr>
{{ end }}