<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ getName .TestPtr "en" }}</title>
{{ template "pdf_mathjax_head" . }}
</head>
<body class="font-sans text-[14px] m-5 mt-0">
{{ template "pdf_test_header" . }}
{{ template "pdf_test_meta" . }}

{{ $Counter := 0 }}
{{ range $subject := .TestPtr.TypeParams.Subjects }}
    {{ range $section := $subject.Sections }}
        <!-- Combined Header -->
        {{ template "pdf_section_header" (dict "SubjectName" $subject.Name "SectionType" $section.Type "SectionName" $section.Name) }}

        <!-- Compulsory Problems -->
        {{ range $prob := $section.Compulsory.Problems }}
            {{ $p := index $.ProblemsMap $prob.ID }}
            {{ $Counter = add $Counter 1 }}

            {{ template "pdf_question_options" (dict "Counter" $Counter "Problem" $p "OptionLayout" $prob.OptionLayout) }}
        {{ end }}
    {{ end }}
{{ end }}
</body>
</html>
