{{ range $index, $item := . }}
<tr class="border-b hover:bg-bg-card-alt text-center">
    <!-- add is a custom function registered in test_handler.go -->
    <td class="w-16 py-2 px-4">{{ add $index 1 }}</td>
    <td class="w-32 px-4 text-accent hover:text-accent-hover hover:underline font-medium"><a href="/problem?id={{.ID}}&curriculum_id={{.CurriculumID}}"
            hx-get="/problem?id={{.ID}}&curriculum_id={{.CurriculumID}}" hx-target="body"
            hx-push-url="true">{{.Code}}</a>
    </td>
    <td class="w-auto px-4 text-left">{{(.GetLangVersion "en").MetaData.Question}}</td>
</tr>
{{ end }}