{{ if .IsLocked }}
<button class="action-button group" title="Unlock Test" data-admin-only="Only admins can unlock tests"
    hx-post="/lock-test?id={{.ID}}&locked=false" hx-target="this" hx-swap="outerHTML" hx-disabled-elt="this">
    <i class="fa-solid fa-lock-open group-[.htmx-request]:hidden!"></i>
    <i class="fa-solid fa-spinner fa-spin hidden! group-[.htmx-request]:inline-block!"></i>
</button>
{{ else }}
<button class="action-button group" title="Lock Test" data-admin-only="Only admins can lock tests"
    hx-post="/lock-test?id={{.ID}}&locked=true" hx-target="this" hx-swap="outerHTML" hx-disabled-elt="this">
    <i class="fa-solid fa-lock group-[.htmx-request]:hidden!"></i>
    <i class="fa-solid fa-spinner fa-spin hidden! group-[.htmx-request]:inline-block!"></i>
</button>
{{ end }}
