<table class="min-w-full bg-white" hx-ext="table-sort,tests-loader" data-sort-scope="tests" >
    <!-- common hx-target and hx-include for all th tags -->    
    <thead hx-target="#test-table-body" hx-include="#curriculum-dropdown, #grade-dropdown, #testtype-dropdown">
        <tr class="bg-gray-200 text-gray-600 text-sm">
            <th class="py-4 px-6 text-left">
                <a href="#" hx-get="/api/tests?col=1">
                    Code <i class="fas fa-sort"></i>
                </a>
            </th>
            <th class="px-6 text-left">
                <a href="#" hx-get="/api/tests?col=2">
                    Name <i class="fas fa-sort"></i>
                </a>
            </th>
            <th class="px-6 text-center">
                <a href="#" hx-get="/api/tests?col=3">
                    # of questions <i class="fas fa-sort"></i>
                </a>
            </th>
            <th class="px-6 text-center">
                <a href="#" hx-get="/api/tests?col=4">
                    Marks <i class="fas fa-sort"></i>
                </a>
            </th>
            <th class="px-6 text-center">
                <a href="#" hx-get="/api/tests?col=5">
                    Duration <i class="fas fa-sort"></i>
                </a>
            </th>
            <th class="px-6 text-center">
                <a href="#" hx-get="/api/tests?col=6">
                    Set <i class="fas fa-sort"></i>
                </a>
            </th>
            <th class="px-6 text-center">Actions</th>
        </tr>
    </thead>
    <tbody id="test-table-body" class="text-gray-600 text-sm" hx-get="/api/tests" hx-trigger="load"
        hx-include="#curriculum-dropdown, #grade-dropdown, #testtype-dropdown">
        <!-- Rows will be dynamically inserted here -->
    </tbody>
</table>
<div id="loader" class="hidden flex justify-center py-4">
    <div class="w-6 h-6 border-4 border-gray-300 border-t-blue-600 rounded-full animate-spin"></div>
</div>
<script>
    (function () {
        htmx.defineExtension('tests-loader', {
            onEvent: function (name, event) {
                const loader = document.getElementById("loader");
                const requestPath = event.detail?.elt?.getAttribute("hx-get");
                const tbody = document.getElementById("test-table-body");
                
                if (!requestPath || !requestPath.startsWith("/api/tests")) return;

                if (name === "htmx:beforeRequest") {
                    if (requestPath === "/api/tests") {
                        // check skip loading only for base request and not for sorting reload requests
                        if (sessionStorage.getItem(window.TESTS_LOADED_KEY) === "true") {
                            console.log("Skipping /api/tests request because tests are already loaded.");
                            event.preventDefault();
                            return;
                        } 
                    }

                    // clear table body & show loader
                    tbody.innerHTML = "";
                    loader.classList.remove("hidden");

                } else if (name === "htmx:afterRequest") {
                    // Hide loader
                    loader.classList.add("hidden");

                    if (requestPath === "/api/tests") {
                        // Mark tests as loaded only for base request and not for sorting reload requests
                        const status = event.detail.xhr.status;
                        if (status >= 200 && status < 300) {
                            sessionStorage.setItem(window.TESTS_LOADED_KEY, 'true');
                        }
                    }

                } else if (name === "htmx:responseError") {
                    // Hide loader
                    loader.classList.add("hidden");
                }
            }
        });
    })();
</script>