{{ define "content" }}
<div>
    <div class="flex justify-between items-center mb-4">

        <!-- Left side: Test type dropdown + Search -->
        <div class="flex items-center space-x-4">

            <!-- hx-trigger="onLoaded from:(#curriculum-dropdown, #grade-dropdown)" is added to load tests on 
            coming back from single test to tests list screen -->
            <select id="testtype-dropdown" name="testtype-dropdown" hx-ext="tests-view-loader" 
                class="border border-gray-400 p-2 rounded" hx-get="/tests?mode=filter"
                hx-trigger="change, change from:(#curriculum-dropdown, #grade-dropdown), onLoaded from:(#curriculum-dropdown, #grade-dropdown)"
                hx-target="#test-table-wrapper" hx-include="#curriculum-dropdown, #grade-dropdown, #testtype-dropdown"
                onchange="sessionStorage.setItem('selectedTesttype', this.value); sessionStorage.setItem(window.TESTS_VIEW_LOADED_KEY, 'false');">
                {{ template "test_type_options" }}
            </select>

            <!-- Search field -->
            <input type="text" id="test-search" name="search" placeholder="Search tests by code or name..."
                class="border border-gray-400 p-2 rounded w-64" hx-get="/tests?mode=search" hx-ext="search-store"
                hx-trigger="keyup[this.value.length>=3] delay:500ms" hx-target="#test-table-wrapper">

        </div>

        <!-- Add New Test Link -->
        <h4 class="text-sm font-semibold text-blue-500 hover:underline ml-4">
            <a href="#" 
                hx-get="/tests/add-test-dialog" 
                hx-target="body" 
                hx-push-url="true"
                hx-swap="beforeend">Add New Test</a>
        </h4>
    </div>

    <!-- Content Area -->
    <div id="subcontent">
        <div id="test-table-wrapper" class="shadow-md my-6 overflow-x-auto">
            <!-- Table content will be loaded here based on mode filter or search -->
        </div>
    </div>

</div>

<script>
    (function () {
        htmx.defineExtension('tests-view-loader', {
            onEvent: function (name, event) {
                if (name === "htmx:afterProcessNode") {
                    restoreState();

                } else if (name === "htmx:beforeRequest") {
                    const requestPath = event.detail.elt.getAttribute("hx-get");

                    if (requestPath === "/tests?mode=filter") {
                        if (sessionStorage.getItem(window.TESTS_VIEW_LOADED_KEY) === "true") {
                            console.log("Skipping /tests request because tests view is already loaded.");
                            event.preventDefault();
                            return;
                        }

                        const params = event.detail.requestConfig.parameters;
                        if (params["testtype-dropdown"] === "") {
                            console.log("Skipping /tests request because test type is not yet selected.");
                            event.preventDefault();

                        } else {
                            const curriculum = params["curriculum-dropdown"];
                            const grade = params["grade-dropdown"];

                            // if dropdown values are showing default value like "Loading...", then don't execute request
                            if (!isInt(curriculum) || !isInt(grade)) {
                                console.log("Skipping /tests request because dropdowns are not loaded yet.");
                                event.preventDefault();

                            } else {
                                const storedCurriculum = sessionStorage.getItem("selectedCurriculum");
                                const storedGrade = sessionStorage.getItem("selectedGrade");

                                if ((storedCurriculum && storedCurriculum !== curriculum) ||
                                    (storedGrade && storedGrade !== grade)) {
                                    // at least 1 dropdown value is 1 (1st item value) and its correct value is yet to be retained from sessionStorage
                                    console.log("Skipping /tests request because dropdowns values are not yet retained.");
                                    event.preventDefault();
                                    
                                } else {
                                    // all dropdown values are correctly retained, proceed with request

                                    // Clear stored search text and visible input value
                                    sessionStorage.removeItem('testSearchValue');
                                    const searchInput = document.getElementById('test-search');
                                    if (searchInput) {
                                        searchInput.value = '';
                                    }
                                }
                            }
                        }
                    }
                
                } else if (name === "htmx:afterRequest") {
                    const requestPath = event.detail.elt.getAttribute("hx-get");

                    if (requestPath === "/tests?mode=filter") {
                        const status = event.detail.xhr.status;
                        if (status >= 200 && status < 300) {
                            // reset TESTS_LOADED_KEY here so that tests_filter_view can load tests
                            sessionStorage.setItem(window.TESTS_LOADED_KEY, 'false');
                            
                            sessionStorage.setItem(window.TESTS_VIEW_LOADED_KEY, 'true');
                        }
                    }
                }
            }
        });

        function restoreState() {
            // Restore search field
            const searchInput = document.getElementById('test-search');
            if (!searchInput) return;

            const storedSearch = sessionStorage.getItem('testSearchValue') || '';
            searchInput.value = storedSearch;
            let searchRestored = false;

            // If search was active previously, trigger the HTMX search again
            if (storedSearch.length >= 3) {
                // Explicit HTMX request
                htmx.ajax('GET', '/tests?mode=search', {
                    target: '#test-table-wrapper',
                    values: { search: storedSearch }
                });
                searchRestored = true;
            }

            const dropdown = document.getElementById('testtype-dropdown');
            if (!dropdown) return;

            const storedTesttype = sessionStorage.getItem('selectedTesttype');

            if (storedTesttype && dropdown.value !== storedTesttype) {
                dropdown.value = storedTesttype;

                // Trigger native change event so HTMX picks it up
                if (!searchRestored) {
                    htmx.trigger(dropdown, 'change');
                }
            }
        }

        htmx.defineExtension('search-store', {
            onEvent: function (name, evt) {
                if (name === 'htmx:beforeRequest') {
                    const input = document.getElementById('test-search');
                    const search = input.value.trim();
                    if (search.length >= 3) {
                        sessionStorage.setItem('testSearchValue', search);
                    }
                }
            }
        });
    })();
</script>
{{ end }}