<div>
    <!-- Add New Problem Link -->
    <h4 class="text-sm font-semibold text-blue-500 hover:underline mb-4">
        <a href="/topic/add-problem?topic_id={{.}}" hx-get="/topic/add-problem?topic_id={{.}}" hx-target="body" hx-push-url="true">Add New
            Problem</a>
    </h4>

    <div class="shadow-md overflow-x-auto">
        <table class="min-w-full bg-white">
            <colgroup>
                <col class="w-[6rem]">   <!-- Code -->
                <col>                   <!-- Text (flexes) -->
                <col class="w-[6rem]">   <!-- Actions -->
            </colgroup>
            <thead>
                <tr class="bg-gray-200 text-gray-600 text-sm text-center">
                    <th class="py-4">Code</th>
                    <th class="">Text</th>
                    <th class="">Actions</th>
                </tr>
            </thead>
            <tbody id="problemTableBody" class="text-gray-600 text-sm" hx-trigger="load"
                hx-get="/api/topic/problems?topic-dropdown={{.}}" hx-include="#curriculum-dropdown, #subject-dropdown"
                data-mathjax="true">
                <!-- Rows will be dynamically inserted here -->
            </tbody>
        </table>
    </div>
</div>