{{ range . }}
<tr class="border-b hover:bg-gray-100">
    <td class="py-4 px-6">{{.Code}}</td>
    <td class="px-6 text-blue-500 hover:underline"><a href="#">{{ getName . "en" }}</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="space-x-4">
        <button class="action-button" hx-get="/edit-topic?id={{.ID}}"
            hx-target="#subContent" hx-push-url="true">
            <i class="fa-solid fa-pencil"></i>
        </button>
        <button class="action-button" hx-delete="/delete-topic?id={{.ID}}"
            hx-confirm="Are you sure you want to delete topic {{ getName . "en" }}?" hx-target="closest tr">
            <i class="fa-solid fa-trash"></i>
        </button>
    </td>
</tr>
{{ end }}