<div>
    <div class="shadow-md overflow-x-auto">
        <table class="min-w-full bg-white">
            <thead>
                <tr class="bg-gray-200 text-gray-600 text-sm">
                    <th class="py-4 px-6 text-left">
                        <a href="#" hx-get="/topics?id={{.ChapterId}}&sortColumn=1" hx-target="#subContent">
                            Code <i class="fas 
                            {{ if eq .TopicsSortState.Column "1" }}
                                {{ if eq .TopicsSortState.Order "asc" }} fa-sort-up
                                {{ else if eq .TopicsSortState.Order "desc" }} fa-sort-down
                                {{ else }} fa-sort {{ end }}
                            {{ else }} fa-sort {{ end }}"></i>
                        </a>
                    </th>
                    <th class="px-6 text-left">
                        <a href="#" hx-get="/topics?id={{.ChapterId}}&sortColumn=2" hx-target="#subContent">
                            Name <i class="fas 
                            {{ if eq .TopicsSortState.Column "2" }}
                                {{ if eq .TopicsSortState.Order "asc" }} fa-sort-up
                                {{ else if eq .TopicsSortState.Order "desc" }} fa-sort-down
                                {{ else }} fa-sort {{ end }}
                            {{ else }} fa-sort {{ end }}"></i>
                        </a>
                    </th>
                    <th class="px-6 text-center">ICTs</th>
                    <th class="px-6 text-center">V1 TLP</th>
                    <th class="px-6 text-center">V2 TLP</th>
                    <th class="px-6 text-center">Feedbacks</th>
                    <th class="px-6 text-center">Modules</th>
                    <th class="px-6 text-center">Status</th>
                    <th class="px-6 text-center">Actions</th>
                </tr>
            </thead>
            <tbody id="topicTableBody" class="text-gray-600 text-sm" hx-get="/api/topics?id={{.ChapterId}}"
                hx-trigger="load">
                <!-- Rows will be dynamically inserted here -->
            </tbody>
        </table>
    </div>

    <!-- Form to add new topic -->
    <div class="mt-4">
        <h4 id="addTopicLink" class="text-sm font-semibold text-blue-500 hover:underline" onclick="toggleForm(event, {{.ChapterId}})">
            <a href="#">Add New Topic</a>
        </h4>
    </div>
</div>
<script>
    // This script will handle toggling of the form visibility
    function toggleForm(event, chapterId) {
        // Prevent the default anchor click behavior, which otherwise scrolls to top
        event.preventDefault();

        var form = document.getElementById("addTopicForm");

        // If the form is already visible, remove it
        if (form != null) {
            form.remove()

        } else {
            // Otherwise, use HTMX to load the form
            htmx.ajax('GET', `/add-topic?chapterId=${chapterId}`, {
                target: '#addTopicLink',
                swap: 'afterend'
            })
        }
    }
</script>