{{ range . }}
<tr class="border-b">
    <td class="p-2 text-blue-500 hover:underline"><a href="/problem?id={{.ID}}&curriculum_id={{.CurriculumID}}" 
        hx-get="/problem?id={{.ID}}&curriculum_id={{.CurriculumID}}" hx-target="body" hx-push-url="true">{{.Code}}
    </a></td>
    <td class="p-2">{{.MetaData.Question}}</td>
    <td class="space-x-4">
        <button class="action-button" hx-get="/edit-problem?id={{.ID}}" hx-target="#subContent" hx-push-url="true">
            <i class="fa-solid fa-pencil"></i>
        </button>
        <button class="action-button" hx-delete="/delete-problem?id={{.ID}}"
            hx-confirm="Are you sure you want to delete problem?" hx-target="closest tr">
            <i class="fa-solid fa-trash"></i>
        </button>
    </td>
</tr>
{{ end }}